<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/StockTradingService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IService" contract="ServiceReferenceXBAP.IService"
                name="WSDualHttpBinding_IService">
                <identity>
                    <userPrincipalName value="Houman-PC\Houman" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>

